<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="The personal site of Brett Costabile" />
  <meta name="author" content="Brett Costabile">
  {% if page.tags %}
  <meta name="keywords" content={{ page.tags | join: ", " }}>
  {% endif %}
  <meta name="robots" content="all">
  <meta name="theme-color" content="">
  {% if page.webmentionsEnabled %}
  {% webmentions_head %}
  {% endif %}
  <link rel="stylesheet" type="text/css" href={{ "/assets/css/style.css" | relative_url }} />
  <link rel="icon" href={{ "/assets/img/fav.ico" | relative_url }}>
</head>
<body>
  <div id="body-bg"></div>
  <div id="nav-bar">
    <div class="arrow"></div><a href={{ "index.html" | relative_url }}>Home</a>
    <div class="arrow"></div><a href={{ "blog.html" | relative_url }}>Blog</a>
    <div class="arrow"></div><a href={{ "feed.xml" | relative_url }}>RSS Feed</a>
  </div>
  {{ content }}
  {% if page.webmentionsEnabled %}
  {% webmentions_js %}
  {% endif %}
</body>
</html>