---
layout: default
---
<div id="page-header">
  Brett <img class="header-logo" src={{ "/assets/img/logo_border_3d.svg" | relative_url }}> Costabile
</div>
<!-- Left side content -->
<div id="content-left"></div>
<!-- Center content -->
<div id="column-center-main" class="content-center">
  <div class="content-gold-trim-outer">
    <div class="content-gold-trim-inner content-center">
      <h1>🚧 Work Zone 🚧</h1>
      <p>This site is still in the early stages of development.</p>
    </div>
  </div>
  <!-- Latest posts sections -->
  <div class="content-gold-trim-outer">
    <div class="content-gold-trim-inner">
      <h2>Latest Posts</h2>
      <ul class="post-list">
        {% assign maxPost = 5 %}
        {% assign counter = 0 %}
        {% for post in site.posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a>
          <span class="postDate">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
          {% assign counter = counter | plus: 1 %}
          {% if counter == maxPost %}
            {% break %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- JS Toys section -->
  <div class="content-gold-trim-outer">
    <div class="content-gold-trim-inner">
      <h2>JS Experiments</h2>
      <ul class="post-list">
        {% for post in site.js_toys %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<!-- Right side content -->
<div id="content-right">
  <div class="h-card right-side-content">
    <a class="u-url" href="{{ site.url }}" rel="me">
      <h3 class="p-name">
        <span class="p-given-name">Brett</span>
        <span class="p-family-name">Costabile</span>
      </h3>
    </a>
    <hr class="dashed">
    <p class="p-note">
      Interested in distributed and P2P networks.
      Serially addicted to Kubernetes.
      Perpetually making things harder for myself.
    </p>
  </div>
  <div class="right-side-content">
    <h3>Links</h3>
    <hr class="dashed">
    <ul class="right-side-links">
      <li><a href="https://github.com/Kaezon" rel="me">Github</a></li>
      <li><a href="https://indieweb.org">IndieWeb</a></li>
    </ul>
  </div>
  <div class="right-side-content">
    <h3>Friends</h3>
    <hr class="dashed">
    <ul class="right-side-links">
      <li><a href="https://scrollsnsketchbooks.neocities.org/">Scrolls 'n Sketchbooks</a></li>
    </ul>
  </div>
</div>